.post-type-archive-download .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.post-type-archive-download .content > div {
	margin-right: 0;
	margin-left: 0;
}

.post-type-archive-download .entry p:last-of-type {
	margin-bottom: 0;
}

.post-type-archive-download .more-link {
	display: block;
	margin-top: 16px;
	line-height: 1;
}

.edd_downloads_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.edd_downloads_list > div {
	margin-right: 0;
	margin-left: 0;
}

.edd_download {
	text-align: center;
	margin-bottom: 32px;
	padding: 32px;
	border-radius: 6px;
	background-color: #ffffff;
	box-shadow: 0 8px 48px -8px rgba(64, 78, 107, 0.1);
	transition: all 0.25s ease-in-out;
}

.edd_download:hover,
.edd_download:focus,
.edd_download:active {
	-webkit-transform: scale(1.02);
	        transform: scale(1.02);
}

.edd_download a {
	text-decoration: none;
}

.edd_download_inner {
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.edd_download_image {
	margin: -32px -32px 32px;
	width: calc(100% + (32px * 2));
	max-width: calc(100% + (32px * 2));
}

.edd_download_image img {
	border-radius: 6px 6px 0 0;
}

.edd_download_title {
	width: 100%;
	margin-bottom: 25.888px;
	font-size: 23.04px;
	font-size: 2.304rem;
}

.edd_download_buy_button {
	align-self: flex-end;
}

.edd_download .button {
	color: #ffffff;
}

.edd_download .button:hover,
.edd_download .button:focus,
.edd_download .button:active {
	color: #ffffff;
}

.edd-cart-ajax-alert {
	display: flex;
	justify-content: center;
}

.edd-cart-ajax-alert .edd-icon {
	fill: #00cd9e;
	height: 1.2rem;
	width: 1.2rem;
}

.edd-cart-added-alert {
	margin-top: 16px;
}

.edd_cart_remove_item_btn {
	display: inline-flex;
	padding: 0.2em 0.6em;
	border-radius: 6px;
	color: transparent;
	font-size: small;
	font-weight: 700;
	letter-spacing: -1em;
	text-transform: uppercase;
	align-items: center;
}

.edd_cart_remove_item_btn:before {
	display: inline-flex;
	margin-right: 3.2px;
	border-radius: 32px;
	color: #ff5142;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 0;
	content: 'x';
	align-items: center;
	justify-content: center;
}

.edd_empty_cart {
	display: block;
	margin: 0 auto;
	color: #ffffff;
	text-align: center;
}

.edd-checkout.is-singular .entry {
	padding: 0;
	background: transparent;
	box-shadow: none;
}

.edd-checkout.is-singular .entry:before {
	display: none;
}

.edd_cart_item_image {
	float: left;
	margin-right: 16px;
}

.edd_cart_item_image img {
	border-radius: 6px;
	height: 5rem;
	width: 5rem;
}

#edd_checkout_cart_form {
	margin-bottom: 48px;
	border-radius: 6px;
	background-color: #ffffff;
}

#edd_checkout_cart_form table {
	border-collapse: initial;
	box-shadow: 0 32px 64px -16px rgba(64, 78, 107, 0.1);
}

#edd_checkout_cart_form td,
#edd_checkout_cart_form th {
	padding: 16px;
	border-right: 0;
	border-bottom: 0;
}

#edd_checkout_cart_form td:last-of-type {
	border-right: 1px solid rgba(215, 220, 231, 0.75);
}

#edd_checkout_cart_form .edd_cart_footer_row th {
	background-color: #f7f8fa;
}

#edd_checkout_cart_form .edd_cart_footer_row th:first-of-type {
	border-bottom-left-radius: 6px;
}

#edd_checkout_cart_form .edd_cart_footer_row th:last-of-type {
	border-right: 1px solid rgba(215, 220, 231, 0.75);
	border-bottom: 1px solid rgba(215, 220, 231, 0.75);
	border-bottom-right-radius: 6px;
}

.edd_cart_header_row th {
	background-color: #f7f8fa;
}

.edd_cart_header_row th:first-of-type {
	border-top-left-radius: 6px;
}

.edd_cart_header_row th:last-of-type {
	border-top-right-radius: 6px;
}

.edd-label {
	font-weight: 700;
}

.edd-description {
	display: block;
	margin-bottom: 8px;
}

.single-download .edd_download_purchase_form {
	margin-top: 32px;
}

.edd_purchase_submit_wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.edd-cart-added-alert {
	margin-top: 0;
	margin-left: 16px;
}

.edd_errors {
	margin: 0 0 32px;
	padding: 16px;
	border: 1px solid #ff5142;
	border-radius: 6px;
	background-color: rgba(255, 81, 66, 0.1);
}

.edd_errors p:last-of-type {
	margin-bottom: 0;
}

@media (min-width: 512px) {
	.edd_downloads_list .edd_download {
		width: calc((100% - (32px * 1)) / 2 - 0.2px);
	}
}

@media (min-width: 896px) {
	.post-type-archive-download .entry {
		float: left;
		width: calc((100% - (32px * 2)) / 3 - 0.2px);
		margin-bottom: 32px;
		margin-left: 32px;
	}
	.post-type-archive-download .entry:nth-of-type(3n + 1) {
		margin-left: 0;
	}
	.edd_download_columns_3 .edd_download {
		width: calc((100% - (32px * 2)) / 3 - 0.2px);
	}
	.edd_download_columns_4 .edd_download {
		width: calc((100% - (32px * 3)) / 4 - 0.2px);
	}
	.edd_download_columns_5 .edd_download {
		width: calc((100% - (32px * 4)) / 5 - 0.2px);
	}
	.edd_download_columns_6 .edd_download {
		width: calc((100% - (32px * 5)) / 6 - 0.2px);
	}
	.edd_cart_remove_item_btn {
		color: #4b5c7e;
		letter-spacing: -0.02em;
	}
	.edd_cart_remove_item_btn:before {
		font-size: 1rem;
	}
	.edd_cart_item_name {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
}
