@charset 'UTF-8';
.woocommerce .entry.product {
	padding: 0;
}

.woocommerce abbr.required,
.woocommerce ins {
	text-decoration: none;
}

.woocommerce span.onsale {
	min-height: auto;
	border-radius: 0;
	border-radius: 6px;
	background-color: #404e6b;
	line-height: 1.5;
}

.woocommerce fieldset {
	margin-bottom: 16px;
}

.woocommerce .products .star-rating {
	padding: 1rem 0;
	color: #ffc54e;
	margin-right: auto;
	margin-left: auto;
}

.woocommerce .star-rating {
	font-size: 16px;
	font-size: 1.6rem;
}

.woocommerce .star-rating span {
	color: #ffc54e;
}

.woocommerce p.stars a,
.woocommerce p.stars a:focus,
.woocommerce p.stars a:hover {
	outline: 0;
	color: #ffc54e;
}

.woocommerce .woocommerce-LoopProduct-link {
	display: block;
}

.woocommerce .woocommerce-product-gallery__wrapper {
	margin: 0;
}

.woocommerce .woocommerce-product-gallery__trigger {
	left: auto;
	border-width: 0;
}

.woocommerce .product .woocommerce-product-gallery.images {
	overflow: hidden;
	width: 100%;
}

.woocommerce .product .woocommerce-product-gallery.images img {
	border-radius: 6px;
}

.woocommerce .product .woocommerce-product-gallery.images .flex-control-nav {
	display: flex;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	flex-wrap: wrap;
}

.woocommerce .product .woocommerce-product-gallery.images .flex-control-nav li {
	width: calc((100% - (32px * 3)) / 4 - 0.2px);
	margin-top: 32px;
	margin-left: 32px;
}

.woocommerce .product .woocommerce-product-gallery.images .flex-control-nav li:nth-of-type(4n + 1) {
	margin-left: 0;
}

.woocommerce .content .entry {
	border-bottom: 0;
}

.woocommerce a.added_to_cart {
	line-height: 1;
}

.woocommerce a.button.loading:after,
.woocommerce button.button.loading:after,
.woocommerce input.button.loading:after,
.woocommerce #respond input#submit.loading:after {
	top: 1em;
}

.woocommerce ul.products {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
}

.woocommerce ul.products > div {
	margin-right: 0;
	margin-left: 0;
}

.woocommerce ul.products:before,
.woocommerce ul.products:after {
	display: none;
}

.woocommerce ul.products li.product {
	text-align: center;
	margin-bottom: 32px;
	padding: 16px;
	border-radius: 6px;
	background-color: #ffffff;
	box-shadow: 0 8px 48px -8px rgba(64, 78, 107, 0.1);
	transition: all 0.25s ease-in-out;
}

.woocommerce ul.products li.product:hover,
.woocommerce ul.products li.product:focus,
.woocommerce ul.products li.product:active {
	-webkit-transform: scale(1.02);
	        transform: scale(1.02);
}

.woocommerce ul.products li.product a {
	text-decoration: none;
}

.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .price .from {
	color: #4b5c7e;
}

.woocommerce ul.products li.product h3:hover,
.woocommerce ul.products li.product .price {
	color: #7b51ff;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
	color: #4b5c7e;
	font-size: 19.2px;
	font-size: 1.92rem;
}

.woocommerce ul.products li.product .woocommerce-loop-product__link img {
	width: calc(100% + (32px));
	max-width: calc(100% + (32px));
	margin: -16px -16px 16px;
	border-radius: 6px 6px 0 0;
}

.woocommerce ul.products li.product a:hover,
.woocommerce ul.products li.product a:focus,
.woocommerce ul.products li.product a:active {
	outline: none;
}

.woocommerce ul.products li.product a.button {
	padding: 1em 2em;
	color: #ffffff;
	transition: all 0.25s ease-in-out;
	width: auto;
}

.woocommerce ul.products li.product a.button:hover,
.woocommerce ul.products li.product a.button:focus,
.woocommerce ul.products li.product a.button:active {
	color: #ffffff;
	background: linear-gradient(135deg, #825aff 0%, #7448ff 100%);
}

.woocommerce ul.products .amount {
	color: #5f749e;
	font-size: large;
}

.woocommerce nav.woocommerce-pagination {
	clear: both;
	width: 100%;
	margin: 0;
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
	border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
	margin: 0;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
	display: inline-flex;
	margin-bottom: 32px;
	padding: 8px 12px;
	border-radius: 32px;
	color: #4b5c7e;
	background-color: #ffffff;
	box-shadow: 0 8px 32px 0 rgba(64, 78, 107, 0.2);
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.625;
	text-decoration: none;
	cursor: pointer;
	-webkit-transform: scale(0.7);
	        transform: scale(0.7);
	align-items: center;
	justify-content: center;
	height: 48px;
	width: 48px;
}

.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:active,
.woocommerce nav.woocommerce-pagination ul li span:hover,
.woocommerce nav.woocommerce-pagination ul li span:focus,
.woocommerce nav.woocommerce-pagination ul li span:active {
	-webkit-transform: scale(0.8);
	        transform: scale(0.8);
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	color: #ffffff;
	background: linear-gradient(135deg, #825aff 0%, #7448ff 100%);
}

.woocommerce .woocommerce-result-count {
	margin: 16px auto;
}

.woocommerce ul.products li.product .button,
.woocommerce .woocommerce-ordering,
.woocommerce-page ul.products li.product .button,
.woocommerce-page .woocommerce-ordering {
	width: 100%;
	margin-right: 0;
}

.woocommerce-ordering {
	display: none;
}

.woocommerce-notices-wrapper {
	width: 100%;
}

.woocommerce.single-product .product .price {
	font-size: 27.648px;
	font-size: 2.7648rem;
	font-weight: 700;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	display: block;
	margin-bottom: 32px;
	color: #5f749e;
	line-height: 1;
}

.woocommerce div.product form.cart .variations {
	table-layout: fixed;
}

.woocommerce div.product div.summary {
	display: flex;
	width: 100%;
	margin: 0;
	flex-wrap: wrap;
	align-items: center;
}

.woocommerce div.product div.summary input {
	margin: 0;
}

.woocommerce div.product div.summary .price {
	margin: 0 32px 32px 0;
	order: 1;
}

.woocommerce div.product div.summary .cart {
	margin: 0 0 32px 0;
	order: 2;
}

.woocommerce div.product div.summary .product_meta {
	margin: 0 32px 32px 0;
	order: 3;
}

.woocommerce div.product div.summary .woocommerce-product-rating {
	margin: 0 0 32px 0;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
	order: 4;
}

.woocommerce div.product div.summary .woocommerce-product-rating a {
	color: #5f749e;
	text-decoration: none;
}

.woocommerce div.product div.summary .woocommerce-product-rating a:hover,
.woocommerce div.product div.summary .woocommerce-product-rating a:focus,
.woocommerce div.product div.summary .woocommerce-product-rating a:active {
	color: #404e6b;
}

.woocommerce .woocommerce-variation-price {
	margin-bottom: 16px;
}

.woocommerce a.added_to_cart {
	display: block;
	margin-bottom: 16px;
	font-weight: 700;
}

.single-product .entry-title {
	margin-bottom: 32px;
}

.woocommerce-product-details__short-description {
	width: 100%;
	max-width: 640px;
}

.product_meta a {
	display: inline-block;
	padding: 0 0.5em;
	border-radius: 6px;
	color: #5f749e;
	background-color: #e7eaf0;
	font-size: small;
	font-weight: 700;
	text-decoration: none;
}

.content > .woocommerce-notices-wrapper:first-of-type {
	margin-top: -144px;
}

.single.has-featured-image .woocommerce-notices-wrapper + .entry {
	margin-top: 48px;
}

.single.has-featured-image .woocommerce-notices-wrapper:empty + .entry {
	margin-top: 8px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	display: none;
}

.woocommerce div.product .woocommerce-tabs .panel {
	display: block !important;
}

.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li,
#add_payment_method #payment ul.payment_methods li {
	list-style-type: none;
}

.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row,
#add_payment_method #payment div.form-row {
	margin-bottom: 0;
}

.woocommerce-cart table.cart td.actions .coupon input.input-text,
.woocommerce-checkout table.cart td.actions .coupon input.input-text,
#add_payment_method table.cart td.actions .coupon input.input-text {
	width: auto;
}

.woocommerce-cart .woocommerce-notice,
.woocommerce-checkout .woocommerce-notice,
#add_payment_method .woocommerce-notice {
	background-color: #ffffff;
}

.woocommerce a.remove {
	color: #ff5142 !important;
}

.woocommerce a.remove:hover,
.woocommerce a.remove:focus,
.woocommerce a.remove:active {
	color: #ffffff !important;
	background: #ff5142;
}

.woocommerce table.shop_table {
	border-collapse: collapse;
}

.woocommerce table.shop_table th {
	background-color: #f7f8fa;
}

.woocommerce table.shop_table,
.woocommerce table.shop_table td {
	border-color: #e7eaf0;
	border-radius: 0;
	line-height: 1.75;
	word-break: normal;
}

.woocommerce table.shop_table .order-number {
	min-width: 75px;
}

.woocommerce table.shop_table td.actions {
	padding-top: 15px;
}

.woocommerce-cart table.cart {
	line-height: 1.75;
}

.woocommerce-cart table.cart td {
	padding: 10px 12px;
	font-size: 1.8rem;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	width: 100% !important;
	margin-bottom: 10px;
	font-size: 1.8rem;
}

.woocommerce-cart table.cart .product-thumbnail {
	min-width: 56px;
}

.woocommerce-cart table.cart th.product-name {
	min-width: 140px;
}

.woocommerce-cart table.cart th.product-price,
.woocommerce-cart table.cart th.product-quantity,
.woocommerce-cart table.cart th.product-subtotal {
	min-width: 110px;
}

.woocommerce-cart table.cart img {
	vertical-align: middle;
}

.woocommerce-cart td.product-name dl.variation dd {
	margin-left: 20px;
}

.woocommerce-checkout-review-order-table th.product-total {
	min-width: 110px;
}

.woocommerce-checkout table.cart img,
#add_payment_method table.cart img {
	vertical-align: middle;
}

#add_payment_method .cart-collaterals .cart_totals table,
.woocommerce-cart .cart-collaterals .cart_totals table,
.woocommerce-checkout .cart-collaterals .cart_totals table {
	border-collapse: collapse;
	box-shadow: 0 16px 32px -16px rgba(64, 78, 107, 0.1);
}

#add_payment_method .cart-collaterals .cart_totals table th,
.woocommerce-cart .cart-collaterals .cart_totals table th,
.woocommerce-checkout .cart-collaterals .cart_totals table th {
	border-right: 1px solid rgba(215, 220, 231, 0.75);
}

.is-singular.woocommerce-cart .entry {
	padding: 0;
	background: transparent;
	margin-top: -176px;
}

.is-singular.woocommerce-cart .entry:before {
	display: none;
}

.return-to-shop,
.cart-empty {
	color: #ffffff;
	text-align: center;
}

.return-to-shop a.button.wc-backward,
.cart-empty a.button.wc-backward {
	background: transparent;
	box-shadow: none;
}

.return-to-shop a.button.wc-backward:hover,
.return-to-shop a.button.wc-backward:focus,
.return-to-shop a.button.wc-backward:active,
.cart-empty a.button.wc-backward:hover,
.cart-empty a.button.wc-backward:focus,
.cart-empty a.button.wc-backward:active {
	background: transparent;
	box-shadow: none;
}

.return-to-shop a.button.wc-backward:before,
.cart-empty a.button.wc-backward:before {
	content: '←';
	margin-right: 5.33333px;
}

.woocommerce-cart .hero-section {
	padding-bottom: 208px;
}

.woocommerce-cart-form {
	margin-bottom: 48px;
	box-shadow: 0 32px 64px -16px rgba(64, 78, 107, 0.1);
}

.woocommerce-cart #payment,
.woocommerce-checkout #payment,
#add_payment_method #payment {
	padding: 16px;
	border-radius: 6px;
	background-color: #f7f8fa;
}

.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box,
#add_payment_method #payment div.payment_box {
	background-color: #e7eaf0;
}

.woocommerce-cart #payment div.payment_box:before,
.woocommerce-checkout #payment div.payment_box:before,
#add_payment_method #payment div.payment_box:before {
	display: none;
}

.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods,
#add_payment_method #payment ul.payment_methods {
	border: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
.button,
a.button {
	display: inline-block;
	overflow: hidden;
	position: relative;
	width: auto;
	padding: 16px 32px;
	border: 0;
	border-radius: 32px;
	color: #ffffff;
	background-color: #ffffff;
	box-shadow: 0 16px 32px -16px rgba(64, 78, 107, 0.1);
	font-size: 14.99531px;
	font-size: 1.49953rem;
	font-weight: 700;
	line-height: 1;
	white-space: normal;
	text-decoration: none;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
	background: linear-gradient(135deg, #825aff 0%, #7448ff 100%);
}

button:hover,
button:focus,
button:active,
[type='button']:hover,
[type='button']:focus,
[type='button']:active,
[type='reset']:hover,
[type='reset']:focus,
[type='reset']:active,
[type='submit']:hover,
[type='submit']:focus,
[type='submit']:active,
.button:hover,
.button:focus,
.button:active,
a.button:hover,
a.button:focus,
a.button:active {
	outline: none;
	color: #ffffff;
	box-shadow: 0 16px 32px -16px rgba(64, 78, 107, 0.2);
	text-decoration: none;
	-webkit-transform: scale(1.05);
	        transform: scale(1.05);
}

button:disabled,
button:disabled:hover,
button:disabled:focus,
[type='button']:disabled,
[type='button']:disabled:hover,
[type='button']:disabled:focus,
[type='reset']:disabled,
[type='reset']:disabled:hover,
[type='reset']:disabled:focus,
[type='submit']:disabled,
[type='submit']:disabled:hover,
[type='submit']:disabled:focus,
.button:disabled,
.button:disabled:hover,
.button:disabled:focus,
a.button:disabled,
a.button:disabled:hover,
a.button:disabled:focus {
	opacity: 0.5;
	background-color: #97a5c1;
	cursor: not-allowed;
}

button.small,
[type='button'].small,
[type='reset'].small,
[type='submit'].small,
.button.small,
a.button.small {
	padding: 10.664px 25.888px;
	font-size: small;
}

button.large,
[type='button'].large,
[type='reset'].large,
[type='submit'].large,
.button.large,
a.button.large {
	font-size: large;
}

button.outline,
[type='button'].outline,
[type='reset'].outline,
[type='submit'].outline,
.button.outline,
a.button.outline {
	border: 2px solid #7b51ff;
	color: #7b51ff;
	background: transparent;
}

button.white,
[type='button'].white,
[type='reset'].white,
[type='submit'].white,
.button.white,
a.button.white {
	color: #7b51ff;
	background: #ffffff;
}

button.white.outline,
[type='button'].white.outline,
[type='reset'].white.outline,
[type='submit'].white.outline,
.button.white.outline,
a.button.white.outline {
	border: 2px solid #ffffff;
	color: #ffffff;
	background: transparent;
}

button a,
[type='button'] a,
[type='reset'] a,
[type='submit'] a,
.button a,
a.button a {
	color: #ffffff;
	text-decoration: none;
}

.white a,
.outline a {
	color: #7b51ff;
}

.white a:hover,
.white a:focus,
.white a:active,
.outline a:hover,
.outline a:focus,
.outline a:active {
	color: #7b51ff;
}

.outline.white a {
	color: #ffffff;
}

.outline.white a:hover,
.outline.white a:focus,
.outline.white a:active {
	color: #ffffff;
}

.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce input.button[type='submit'],
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt {
	display: inline-block;
	overflow: hidden;
	position: relative;
	width: auto;
	padding: 16px 32px;
	border: 0;
	border-radius: 32px;
	color: #ffffff;
	background-color: #ffffff;
	box-shadow: 0 16px 32px -16px rgba(64, 78, 107, 0.1);
	font-size: 14.99531px;
	font-size: 1.49953rem;
	font-weight: 700;
	line-height: 1;
	white-space: normal;
	text-decoration: none;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
	background: linear-gradient(135deg, #825aff 0%, #7448ff 100%);
}

.woocommerce a.button:hover,
.woocommerce a.button:focus,
.woocommerce a.button:active,
.woocommerce a.button.alt:hover,
.woocommerce a.button.alt:focus,
.woocommerce a.button.alt:active,
.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce button.button:active,
.woocommerce button.button.alt:hover,
.woocommerce button.button.alt:focus,
.woocommerce button.button.alt:active,
.woocommerce input.button:hover,
.woocommerce input.button:focus,
.woocommerce input.button:active,
.woocommerce input.button.alt:hover,
.woocommerce input.button.alt:focus,
.woocommerce input.button.alt:active,
.woocommerce input.button[type='submit']:hover,
.woocommerce input.button[type='submit']:focus,
.woocommerce input.button[type='submit']:active,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit:focus,
.woocommerce #respond input#submit:active,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #respond input#submit.alt:focus,
.woocommerce #respond input#submit.alt:active {
	outline: none;
	color: #ffffff;
	box-shadow: 0 16px 32px -16px rgba(64, 78, 107, 0.2);
	text-decoration: none;
	-webkit-transform: scale(1.05);
	        transform: scale(1.05);
}

.woocommerce a.button:disabled,
.woocommerce a.button:disabled:hover,
.woocommerce a.button:disabled:focus,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled:focus,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled:focus,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled:focus,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled:focus,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled:focus,
.woocommerce input.button[type='submit']:disabled,
.woocommerce input.button[type='submit']:disabled:hover,
.woocommerce input.button[type='submit']:disabled:focus,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit:disabled:focus,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled:focus {
	opacity: 0.5;
	background-color: #97a5c1;
	cursor: not-allowed;
}

.woocommerce #reviews #comment {
	height: 150px;
}

.woocommerce .quantity .qty {
	width: 70px;
	margin-right: 5px;
	padding: 12px 5px;
	line-height: 1.5;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
	padding: 8px 20px;
	line-height: 1.5;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register,
.woocommerce form .form-row .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select,
.woocommerce form .form-row.woocommerce-validated .select2-container {
	border-color: #e7eaf0;
	border-radius: 0;
}

.woocommerce .coupon {
	line-height: 1;
}

.woocommerce .coupon .input-text {
	height: 48px;
}

.woocommerce input.button,
.woocommerce input.button[type='submit'] {
	width: 100% !important;
}

.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text,
#add_payment_method table.cart td.actions .coupon .input-text {
	width: 150px;
	padding: 5px 20px;
	border-color: #e7eaf0;
}

.woocommerce-cart table.cart input,
.woocommerce-checkout table.cart input,
#add_payment_method table.cart input {
	vertical-align: top;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce #reviews #comments .star-rating,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
	float: none;
	width: 100%;
}

.select2-container--default .select2-selection--single {
	height: 2.3em;
	border-color: rgba(215, 220, 231, 0.75);
	border-radius: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	padding: 0 1em;
	line-height: 2.3em;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 2.3em;
	height: 2.3em;
	margin: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border-color: rgba(215, 220, 231, 0.75);
}

.select2-dropdown {
	border-color: rgba(215, 220, 231, 0.75);
}

.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled] {
	padding: 16px 24px;
	color: #ffffff;
	background-color: #4b5c7e;
}

.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt[disabled]:disabled,
.woocommerce a.button.alt[disabled]:disabled:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt[disabled]:disabled,
.woocommerce button.button.alt[disabled]:disabled:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt[disabled]:disabled,
.woocommerce input.button.alt[disabled]:disabled:hover,
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt[disabled]:disabled,
.woocommerce #respond input#submit.alt[disabled]:disabled:hover {
	padding: 16px 24px;
	color: #ffffff;
	background-color: #4b5c7e;
}

.woocommerce-account.is-singular .entry {
	padding-top: 0;
	background: transparent;
}

.woocommerce-account.is-singular .entry:before {
	display: none;
}

.woocommerce-account .woocommerce-Address {
	margin-bottom: 20px;
}

.woocommerce-account table.order_details th.product-total {
	min-width: 110px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
	text-align: center;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	display: inline-block;
	margin: 0 10px;
}

.woocommerce-account .woocommerce-MyAccount-content {
	width: 100%;
	margin-right: 0;
}

.woocommerce .woocommerce-MyAccount-navigation {
	width: calc(100% + 10vw);
	margin: 0 -5vw 48px;
	padding: 32px;
	border: 0;
	border-radius: 6px;
	background-color: #ffffff;
	box-shadow: 0 32px 64px -16px rgba(64, 78, 107, 0.1);
}

.woocommerce .woocommerce-MyAccount-navigation ul {
	margin-bottom: 0;
	margin-left: 0;
}

.woocommerce .woocommerce-MyAccount-navigation ul li {
	margin-bottom: 15px;
	line-height: 1.2;
	list-style-type: none;
}

.woocommerce .woocommerce-MyAccount-navigation ul li:last-child {
	margin-bottom: 0;
}

.woocommerce .woocommerce-MyAccount-navigation ul li.is-active > a {
	color: #4b5c7e;
	font-weight: 700;
}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-navigation ul,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-navigation ul {
	text-align: center;
}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-navigation li,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-navigation li {
	display: inline-block;
	margin: 0 10px;
}

.content-sidebar.woocommerce-account .woocommerce-MyAccount-content,
.sidebar-content.woocommerce-account .woocommerce-MyAccount-content {
	width: 100%;
}

.woocommerce table.my_account_orders .button {
	margin: 5px;
}

.woocommerce form.woocommerce-form-login {
	background-color: #ffffff;
	border-radius: 0 0 6px 6px;
	border: 0;
	margin: 0;
	box-shadow: 0 32px 64px -16px rgba(64, 78, 107, 0.1);
}

.woocommerce-account .woocommerce-notices-wrapper + h2 {
	text-align: center;
	margin: 0;
	padding-top: 32px;
	background-color: #ffffff;
	border-radius: 6px 6px 0 0;
}

.woocommerce .woocommerce-breadcrumb {
	margin-bottom: 40px;
	font-size: 1.8rem;
}

.woocommerce .woocommerce-breadcrumb,
.woocommerce .woocommerce-breadcrumb a {
	color: #4b5c7e;
}

.woocommerce .woocommerce-breadcrumb a {
	text-decoration: none;
}

.woocommerce .woocommerce-breadcrumb a:hover,
.woocommerce .woocommerce-breadcrumb a:focus,
.woocommerce .woocommerce-breadcrumb a:active {
	color: #7b51ff;
}

.woocommerce #reviews {
	padding: 32px 0;
}

.woocommerce #reviews .comment-reply-title {
	display: block;
	font-size: 19.2px;
	font-size: 1.92rem;
	padding-top: 32px;
	margin: 0 0 16px;
	font-family: karla, hk grotesk, system-ui, -apple-system, BlinkMacSystemFont, 'Avenir Next', 'Avenir', 'Segoe UI', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'Fira Sans', 'Roboto', 'Noto', 'Droid Sans', 'Cantarell', 'Oxygen', 'Ubuntu', 'Franklin Gothic Medium', 'Century Gothic', 'Liberation Sans', sans-serif;
	font-weight: 700;
	line-height: 1.2944;
}

.woocommerce #reviews #comments ol.commentlist li {
	padding: 32px;
	border-radius: 6px;
	background-color: #f7f8fa;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	position: relative;
	width: 60px;
	margin: 0 16px 24px 0;
	padding: 0;
	border: 0;
	background: transparent;
}

.woocommerce #reviews #comments ol.commentlist li .star-rating {
	margin-bottom: 8px;
}

.woocommerce #reviews #comments ol.commentlist li .meta {
	width: 100%;
	color: #5f749e;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	display: flex;
	margin-left: 80px;
	padding: 0;
	border: 0;
	border-radius: 6px;
	flex-wrap: wrap;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p:last-of-type {
	margin-bottom: 0;
}

.woocommerce .entry-content #reviews ol > li {
	list-style-type: none;
}

.woocommerce-Reviews-title {
	margin-bottom: 1em;
	font-size: 27.648px;
	font-size: 2.7648rem;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	border-top: 0;
	border-radius: 6px;
	background-color: #f7f8fa;
	box-shadow: 0 16px 32px -16px rgba(64, 78, 107, 0.1);
	display: flex;
	flex-wrap: wrap;
}

.woocommerce-error:before,
.woocommerce-error:before,
.woocommerce-error:before,
.woocommerce-info:before,
.woocommerce-info:before,
.woocommerce-info:before,
.woocommerce-message:before,
.woocommerce-message:before,
.woocommerce-message:before {
	color: #7b51ff;
}

div.woocommerce-info.wc-memberships-restriction-message.wc-memberships-restricted-content-message {
	width: 48%;
}

.woocommerce-message .button.wc-forward {
	width: auto;
	margin-bottom: 16px;
}

.woocommerce-product-search {
	overflow: hidden;
	width: 100%;
}

.woocommerce-product-search input[type='submit'] {
	clip: rect(0, 0, 0, 0);
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.woocommerce .widget_shopping_cart ul.cart_list li,
.woocommerce.widget_shopping_cart ul.cart_list li {
	padding-top: 15px;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	top: 15px;
}

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
	border-top: 1px solid #e7eaf0;
}

.woocommerce .widget_shopping_cart .buttons a,
.woocommerce.widget_shopping_cart .buttons a {
	margin-bottom: 5px;
}

.woocommerce .widget_shopping_cart .cart_list li.empty,
.woocommerce.widget_shopping_cart .cart_list li.empty {
	padding-left: 0;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
	width: 60px;
}

.sidebar ul.product_list_widget li {
	margin-bottom: 15px;
	padding: 15px 0 0;
	line-height: 1.4;
}

.sidebar ul.product_list_widget li:last-child {
	margin-bottom: 0;
	padding-bottom: 15px;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce.widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #e7eaf0;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce.widget_price_filter .ui-slider .ui-slider-range {
	background-color: #7b51ff;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce.widget_price_filter .ui-slider .ui-slider-handle {
	top: -0.28em;
}

.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce.widget_price_filter .price_slider_amount .button {
	font-size: 1.6rem;
}

.woocommerce .widget_layered_nav ul li.chosen a:before,
.woocommerce .widget_layered_nav_filters ul li a:before,
.woocommerce .widget_rating_filter ul li.chosen a:before {
	color: #7b51ff;
}

.woocommerce.widget_layered_nav_filters ul li {
	margin: 0 20px 20px 0;
}

.woocommerce.widget_recent_reviews .reviewer {
	font-size: 1.2rem;
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}

@media (min-width: 512px) {
	.woocommerce div.product div.summary .woocommerce-product-rating {
		width: 50%;
	}
}

@media (min-width: 640px) {
	.woocommerce.single-product .product .price {
		font-size: 33.1776px;
		font-size: 3.31776rem;
	}
	.woocommerce div.product div.summary .product_meta {
		width: calc(50% - 32px);
	}
	.woocommerce div.product div.summary .woocommerce-product-rating ~ .product_meta {
		width: auto;
	}
	.woocommerce ul.products li.product .button,
	.woocommerce .woocommerce-ordering,
	.woocommerce-page ul.products li.product .button,
	.woocommerce-page .woocommerce-ordering {
		width: auto;
		margin-right: auto;
	}
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		margin-bottom: 0;
	}
	.woocommerce form .form-row-first,
	.woocommerce-page form .form-row-first,
	.woocommerce #reviews #comments .star-rating {
		float: left;
		width: 47%;
	}
	.woocommerce form .form-row-last,
	.woocommerce-page form .form-row-last {
		float: right;
		width: 47%;
	}
	.woocommerce input.button,
	.woocommerce input.button[type='submit'],
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		width: auto !important;
	}
	.woocommerce-message .button.wc-forward {
		width: auto;
		margin-bottom: 0;
	}
}

@media (min-width: 896px) {
	.woocommerce ul.products {
		justify-content: flex-start;
	}
	.woocommerce.full-width-content.single-product .content {
		width: calc(100% - (30rem + 48px));
		margin-right: auto;
		margin-left: auto;
	}
	.content > .woocommerce-notices-wrapper:first-of-type {
		margin-top: -208px;
	}
	.woocommerce table.shop_table td.actions {
		padding: 32px;
	}
	.is-singular.woocommerce-cart .entry {
		margin-top: -208px;
	}
	.woocommerce-cart .hero-section {
		padding-bottom: 256px;
	}
	.woocommerce .woocommerce-MyAccount-navigation {
		width: calc(100% + (48px * 2));
		margin: 0 -48px 80px;
	}
	.woocommerce form.woocommerce-form-login {
		padding: 48px;
	}
	.woocommerce-account .woocommerce-notices-wrapper + h2 {
		padding-top: 48px;
	}
	.woocommerce-error,
	.woocommerce-info,
	.woocommerce-message {
		display: block;
	}
}

@media (max-width: 512px) {
	.woocommerce ul.products li.product {
		width: 100% !important;
	}
}

@media (max-width: 768px) {
	.woocommerce ul.products[class*=columns-] li.product,
	.woocommerce-page ul.products[class*=columns-] li.product {
		width: calc((100% - (32px * 1)) / 2 - 0.2px);
		margin-bottom: 32px;
	}
}

@media (max-width: 896px) {
	#add_payment_method td,
	.woocommerce-cart td,
	.woocommerce-checkout td {
		border: 0;
	}
}
