////
/// Custom mixins.
///
/// @group  Tools
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////

////
/// Hover focus mixin
///
/// @group  Tools
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////

@mixin hover-focus {

	&:hover,
	&:focus,
	&:active {

		@content;
	}
}

////
/// Border mixin
///
/// @group  Tools
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////

@mixin border( $values ) {

	@include _directional-property(border, null, $values);
}

////
/// Overlay mixin
///
/// @group  Tools
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////

@mixin overlay {
	overflow: hidden;
	position: relative;

	&:before {
		display: block;
		background-color: rgba($color--gray-10, 0.82);
		content: "";

		@include position(absolute, 0 0 0 0);
	}
}

////
/// Gradient mixin
///
/// @group  Tools
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////
@mixin gradient {
	//background: linear-gradient(135deg, $color--primary-alt-2 0%, $color--primary-alt 100%);
	background: linear-gradient(135deg, $color--primary-light 0%, $color--primary-dark 100%);
}

////
/// Box style mixin
///
/// @group  Tools
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////
@mixin card($size: s) {

	@if $size == l {
		position: relative;
		z-index: 1;
		margin-bottom: $spacing--l;
		padding: $spacing--xl;
		border-radius: $base--border--radius;
		background-color: $color--white;
		box-shadow: 0 $spacing--s $spacing--l -#{$spacing--xxxxs} rgba($color--gray-70, 0.1);
	} @else if $size == m {
		margin-bottom: $gutter;
		padding: $spacing--l;
		border-radius: $base--border--radius;
		background-color: $color--white;
		box-shadow: 0 $spacing--s $spacing--xl -#{$spacing--s} rgba($base--box-shadow--color, $base--box-shadow--opacity);
		transition: $base--transition;
	} @else if $size == s {
		margin-bottom: $gutter;
		padding: $spacing--m;
		border-radius: $base--border--radius;
		background-color: $color--white;
		box-shadow: 0 $spacing--s $spacing--xl -#{$spacing--s} rgba($base--box-shadow--color, $base--box-shadow--opacity);
		transition: $base--transition;
	}

	@include hover-focus {
		transform: scale(1.02);
	}

	a {
		text-decoration: none;
	}
}
