////
/// Site footer object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////

.site-footer {
	margin-top: auto;
	color: $color--gray-70;
	background-color: $color--gray-10;

	.wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	a {
		text-decoration: none;

		@include hover-focus {
			color: $color--primary;
		}
	}

	input[type="email"] {
		border: 0;
		background-color: $color--white;
		box-shadow: $base--box-shadow;
	}
}
