////
/// Atomic block component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////

div[class*="wp-block-atomic"] {
	margin-bottom: $spacing--xl;
}

.ab {

	&-block-accordion {

		.ab-accordion-title {
			background-color: $color--gray-10;
			color: $color--gray-70;
			border-radius: $base--border--radius;
			padding: $spacing--m;
		}
	}

	// Button.
	&-block-cta &-button {

		@include button;
	}

	// CTA.
	&-block-cta {
		background-color: $color--gray-10;
		color: $color--gray-70;
	}

	// Container block.
	&-container {
		background-color: $color--gray-10;
		color: $color--gray-70;

		&-content {
			width: 80%;
		}
	}

	&-block-container {
		background-color: $color--gray-10;
		color: $color--gray-70;
	}

	&-block-post-grid .is-grid.columns-2 {
		grid-template-columns: 50% 50%;
	}

	// Post grid
	&-post-grid-items {

		article {
			padding: $spacing--l;
			border-radius: $base--border--radius;
			box-shadow: $base--box-shadow--l;
		}

		a {
			text-decoration: none;

			@include hover-focus {
				box-shadow: none !important;
			}
		}
	}

	&-block-post-grid-image {
		width: calc(100% + (#{$spacing--l} * 2));
		max-width: calc(100% + (#{$spacing--l} * 2));
		margin: -#{$spacing--l} -#{$spacing--l} $spacing--l;

		img {
			border-radius: $base--border--radius $base--border--radius 0 0;
		}
	}

	&-block-testimonial {

		img {
			box-shadow: $base--box-shadow, $base--box-shadow--l;
		}
	}

	// Profile.
	&-block-profile {
		background-color: $color--gray-10;
		color: $color--gray-70;

		.ab-profile-image-wrap {
			border-radius: 9rem;
			background: transparent;
			margin: 0 auto;

			@include size($spacing--xxl);
		}

		img {
			border-radius: 9rem;
			background: transparent;
			box-shadow: $base--box-shadow, $base--box-shadow--l;
		}
	}

	// Sharing.

	&-block-sharing {

		a {
			text-decoration: none;
		}
	}

	// Testimonial.
	&-block-testimonial {
		background-color: $color--gray-10;
		color: $color--gray-70;
	}
}
