////
/// Custom header component.
///
/// This handles the output of `the_custom_header_markup()` from core WP's
/// `custom-header` feature.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////

.wp-custom-header {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	opacity: 0.15;
	pointer-events: none;

	//@include overlay;
	@include position(absolute, 0 0 0 0);

	// Video play/pause button.
	&-video-button {

		@include hide-visually();
	}

	// Video play button.
	&-video-play {
	}

	// Video pause button.
	&-video-pause {
	}

	img {
		width: auto;
		min-width: 100%;
		max-width: none;
		height: auto;
		min-height: 100%;
		max-height: none;

		@include position(absolute, auto);
	}

	iframe {

		@include size(100vh);
		@include position(absolute, null null null null);

		@include mq(m) {
			max-width: 125vw;
			max-height: 125vw;

			@include size(125vw);
		}
	}
}
