////
/// Footer credits component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////

.footer-credits {
	font-size: smaller;

	.wrap {
		padding: $spacing--l 0;
		border-top: $base--border;
		border-top-color: rgba($color--gray-50, 0.15);
	}

	.widget {
		margin-bottom: 0;
	}

	p {
		width: 100%;
		margin-bottom: 0;
	}
}

.backtotop {

	@include mq(m) {
		float: right;
	}
}
