////
/// Hero section component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////

@mixin hero-section {
	display: flex;
	position: relative;
	padding: $spacing--m + 70px 0 $spacing--xxxl + $spacing--xl;
	color: $color--white;
	background-position: center;
	background-size: cover;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	@include gradient;

	@include mq(m) {
		padding: $spacing--xxxl + $spacing--s 0 $spacing--xxxxl + $spacing--l;
	}

	&:before,
	&:after {
		display: block;
		height: 10rem;
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 100% auto;
		content: "";

		@include position(absolute, null -1px -1px -1px);

		@include mq(m) {
			height: 32rem;
			background-position: bottom right;
		}

		.has-curve-divider & {
			background-image: url("assets/images/curve.svg");
		}

		.has-angle-divider & {
			bottom: -1px;
			left: -10px;
			background-image: url("assets/images/angle.svg");
		}

		.has-wave-divider & {
			background-image: url("assets/images/wave.svg");
		}
	}

	&:before {
		opacity: 0.2;
		transform: rotate(-5deg) translateX(5%);
	}

	&:after {
		box-shadow: 0 10px 0 0 $color--white;
	}

	.has-excerpt-shortcode & {
		z-index: 4;
		padding-bottom: 0;
	}

	.wrap {
		display: flex;
		position: relative;
		z-index: 1;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		@include margin(null 0);
	}

	.search-form {
		position: relative;
		width: 100%;
		max-width: $mq-xxs;
		box-shadow: $base--box-shadow;
		transition: $base--transition;

		&:hover,
		&:focus,
		&:focus-within {
			transform: scale(1.033);
		}

		::placeholder {
			opacity: 1; // Firefox fix
			color: $color--gray-20;
		}

		input {
			margin: 0;
			color: $color--gray-10;
			background: rgba($color--white, 0.15);

			&[type="submit"] {
				display: none;
				color: $color--gray-80;
				background: $color--gray-10;

				@include position(absolute, 0 0 0 null);
			}
		}
	}

	h1 {
		width: 100%;
		max-width: $mq-s;
		margin-bottom: 0;
	}

	p {
		width: $mq-xs;
		max-width: 100%;
		margin-top: $spacing--m;
		color: rgba($color--white, 0.82);

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	a {
		color: $color--white;
		transition: $base--transition;

		@include hover-focus {
			color: $color--primary;
		}
	}

	input {
		border: 0;
		background-color: $color--white;
		box-shadow: $base--box-shadow;
	}

	#{$all-buttons} {
		color: $color--white;
	}
}

.hero {

	&-section {

		@include hero-section;

		.pricing-table,
		.gs-faq,
		.agm-canvas {
			width: 100%;
			max-width: 100%;
			margin: $spacing--l 0 -#{$spacing--xxxxl} !important; // Override plugin styles.
			border-radius: $base--border--radius;
			color: $color--gray-80;
			box-shadow: $base--box-shadow, $base--box-shadow--l;

			@include mq(m) {
				max-width: $mq-s;
				margin: $spacing--l + $spacing--m 0 -#{$spacing--xxxl} !important;
			}
		}

		.pricing-table {
			max-width: 90%;
		}

		.gs-faq {
			text-align: left;

			p {
				margin: 0;
				color: $color--gray-70;
			}

			a {
				color: $color--gray-70;
			}
		}

		.agm-canvas {
			background-color: $color--gray-10;
		}

		p:empty {
			margin: 0;
		}
	}

	&-subtitle {
		margin-bottom: 0;
	}
}

div.hero-background {
	opacity: 0.1;
	background-size: cover !important;
	background-position: center !important;

	@include position(absolute, 0 0 0 0);
}
