////
/// Icon component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////

.icon-widget {

	.fa {
		position: relative;
		margin-bottom: $spacing--m * $golden;
		display: inline-block;
		line-height: 1;

		&:before {
			width: 1em;
			height: 1em;
		}
	}

	.fa-2x {
		font-size: 1.75em;
	}

	p {
		color: $color--gray-60;
		font-size: $base--font-size;

		@include mq(m) {
			padding: 0 $spacing--m;
		}
	}
}
