////
/// Menu component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////

.menu {
	display: flex;
	width: 100%;
	margin: 0;
	font-size: $base--font-size;
	font-weight: $font-weight--bold;
	text-transform: uppercase;
	list-style-type: none;
	flex-wrap: wrap;
	align-items: center;

	@include mq(m) {
		width: auto;
		border: 0;
		background-color: transparent;
		font-size: small;
		justify-content: flex-end;
	}

	.no-js & {
		width: 100%;
		border: 0;
		transition: all 0.2s ease;
	}

	// Menu item.
	&-item {
		display: flex;
		position: relative;
		width: 100%;
		margin: 0;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;

		@include mq($until: m) {

			.no-js & {
				width: 100%;
				padding: 0;
			}
		}

		@include mq(m) {
			display: flex;
			width: auto;
			margin: 0;
			padding: $spacing--m $spacing--s;
			justify-content: center;
			flex-wrap: wrap;

			&:first-of-type {
				padding-left: 0;
			}

			&:last-of-type {
				padding-right: 0;

				.sub-menu {
					border-radius: 0 0 $base--border--radius $base--border--radius;
				}
			}
		}

		@include mq(l) {
			padding: $spacing--m $spacing--s * $golden;
		}

		&-has-children {

			> a {

				@include mq(m) {
					padding-bottom: 0;
				}

				span {

					display: inline-flex;
					align-items: center;

					&:after {
						//content: '';
						margin-left: 0.3em;
						padding-bottom: 1px;

						@include triangle("down", 6px, 3px, $color--white);
					}
				}
			}
		}

		&.button {
			width: auto;
			margin: $spacing--m 0 $spacing--m $spacing--l;
			padding: 0;

			@include mq(m) {
				margin-left: $spacing--m;
				font-size: small;
			}

			.menu-item-link {
				width: auto;
				padding: 0.9em 2em 1em;

				@include hover-focus {

					span {
						opacity: 1;
					}
				}
			}
		}

		.sidebar &,
		.site-footer & {
			justify-content: flex-start;
		}

		// Link
		&-link {
			width: calc(100% - #{$spacing--xl});
			color: $color--gray-70;
			text-decoration: none;
			transition: all 0.1s ease;

			@include mq($until: m) {
				padding: $spacing--s + $spacing--xs $spacing--l;
			}

			@include mq(m) {
				width: auto;
				color: $color--white;

				@include hover-focus {
					color: $color--white;

					span {
						opacity: 0.75;
					}
				}
			}

			@include hover-focus {
				text-decoration: none;
			}

			span {
				transition: $base--transition;
			}
		}
	}

	// Menu toggle.
	&-toggle {
		display: flex;
		position: relative;
		z-index: 3;
		margin: $spacing--m 0;
		padding: 0;
		border-radius: 0;
		background: transparent;
		box-shadow: none;
		transition: none;
		align-items: center;
		justify-content: center;

		@include size($spacing--m * $golden);

		@include mq(m) {
			display: none;
		}

		@include hover-focus {
			outline: none;
			background-color: transparent;
			box-shadow: none;
			transform: none;
		}

		.hamburger,
		.hamburger:before,
		.hamburger:after {
			display: block;
			position: absolute;
			width: $spacing--m * $golden;
			height: 3px;
			border-radius: $base--border--radius;
			background-color: $color--white;
			content: "";
			transition: none;
		}

		.hamburger {
			top: auto;
			right: auto;
			bottom: auto;
			margin: auto;

			&:before,
			&:after {
				transition: background-color $base--transition-duration $base--transition-timing-function;
			}

			&:before {
				top: -$spacing--s;
			}

			&:after {
				bottom: -$spacing--s;
			}
		}
	}

	&-close {
		display: flex;
		float: right;
		margin: 0;
		padding: 0;
		border-radius: 0;
		background: transparent;
		box-shadow: none;
		transition: none;
		align-items: center;
		justify-content: center;

		@include position(relative, 0 0 null null);
		@include size($spacing--xl + $spacing--m);

		@include mq(xs) {

			@include size($spacing--xxl)
		}

		@include mq(m) {
			display: none;
		}

		@include hover-focus {
			outline: none;
			background-color: transparent;
			box-shadow: none;
			transform: none;
		}

		&:before,
		&:after {
			display: block;
			position: absolute;
			width: $spacing--m * $golden;
			height: 3px;
			border-radius: $base--border--radius;
			background-color: $color--gray-60;
			content: "";
			transition: none;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}
}
