////
/// Browser component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////

.hero-section {

	.mockup-ipad {
		margin-top: $spacing--l;
		margin-bottom: -$spacing--xl;

		@include mq(m) {
			margin-bottom: -$spacing--xxxl;
		}
	}

	.mockup-laptop {
		max-width: 90%;
		margin-top: $spacing--l;
		margin-right: auto;
		margin-bottom: 0;
		margin-left: auto;

		@include mq(m) {
			margin-bottom: -$spacing--xxl;
		}
	}

	.mockup-browser {
		margin-top: $spacing--l;
		margin-bottom: -$spacing--xxl;

		@include mq(m) {
			margin-bottom: -$spacing--xxxl + -$spacing--xl;
		}
	}
}

.mockup-ipad {
	display: flex;
	position: relative;
	margin-bottom: $spacing--xxl;
	padding: 0.618em 2.472em;
	border-radius: 3.2rem;
	background: $color--white;
	box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
	transform: scale(1.1);
	transform: rotate(-10deg) translateY(4rem) scale(1.1);
	transform: scale(1.1) translateX(0) translateY(2rem) perspective(319rem) rotateY(-29deg) rotateX(4deg) rotate(1deg);
	justify-content: center;
	align-items: center;

	img {
		border: 1px solid $color--gray-10;
		border-radius: $base--border--radius;
		box-shadow: none;
	}
}

.mockup-laptop {
	position: relative;
	margin-bottom: $spacing--xxxl + $spacing--m;
	padding: $spacing--m;
	border-radius: 2rem;
	background-color: #fff;

	.lid {
		border-radius: 2rem;
		background: linear-gradient(45deg, #e5ebf2, #f3f8fb);

		@include position(absolute, 0 0 0 0);
	}

	.screen {
		position: relative;
		margin: 1rem 0 2rem;
		border-radius: 4px;
		background: #f2f6fa;
		box-shadow: -1px 1px 6px rgba(171, 183, 204, 0.1);

		img {
			box-shadow: none;
		}
	}

	.chassis {
		display: block;
		position: absolute;
		left: -3%;
		width: 106%;
		height: 15rem;
		margin-top: -15px;
		border-radius: 10px;
		background: linear-gradient(rgba(145, 161, 181, 0.2), rgba(145, 161, 181, 0)), linear-gradient(45deg, #e5ebf2, #f3f8fb);
		box-shadow: inset 0 -2px 3px rgba(145, 161, 181, 0.5), inset -1px -6px 4px rgba(253, 255, 255, 0.9);
		transform: perspective(880px) rotateX(40deg);
	}

	.keyboard {
		display: block;
		position: relative;
		width: 92%;
		height: 6rem;
		margin: $spacing--m auto $spacing--xs;
		border-radius: 2px 2px 4px 4px;
		opacity: 0.3;
		background: linear-gradient(45deg, #b2bdcc, #c1ccd8);
		box-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.75);
	}

	.trackpad {
		display: block;
		position: relative;
		width: 30%;
		height: 5rem;
		margin: 0 auto;
		border-radius: 4px 4px 6px 6px;
		opacity: 0.3;
		background: linear-gradient(45deg, #b2bdcc, #c1ccd8);
		box-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.75);
	}
}

.has-browser-video-style .front-page-1 .widget_media_video,
.mockup-browser {
	display: block;
	position: relative;
	box-shadow: $base--box-shadow--l;

	&:before,
	&:after {
		display: block;
		content: "";
	}

	&:before {
		//background-color: $color--white;
		position: relative;
		z-index: 1;
		width: 100%;
		height: $spacing--l;
		margin-bottom: -1px; // Self hosted video embed fix.
		border-radius: $spacing--s $spacing--s 0 0;
		background-color: $color--gray-10;
	}

	&:after {
		z-index: 2;
		border-radius: $spacing--s;
		background-color: $color--error;
		box-shadow: $spacing--m 0 0 0 $color--warning, $spacing--l 0 0 0 $color--success;

		@include size($spacing--s * $major-third);
		@include position(absolute, $spacing--m - $spacing--xs null null $spacing--m);
	}

	img {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}
