////
/// Nav Primary component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////

.nav-primary {
	display: flex;
	z-index: 3;
	width: calc(100vw - #{$spacing--l});
	margin: auto;
	padding: 0 0 $spacing--l;
	border-radius: $base--border--radius;
	opacity: 0;
	background-color: $color--white;
	box-shadow: $base--box-shadow, $base--box-shadow--l;
	transition: $base--transition;
	transform: scale(0.95);
	transform-origin: 100% 0;
	pointer-events: none;
	will-change: transform,opacity;
	flex-wrap: wrap;
	justify-content: flex-end;

	//opacity: 1;
	//transform: none;
	//pointer-events: auto;

	@include position(absolute, $spacing--m -50% null);

	@include mq(m) {
		display: flex !important;
		position: relative;
		width: auto;
		margin: 0 0 0 auto;
		padding: 0;
		opacity: 1;
		background-color: transparent;
		box-shadow: none;
		transform: none;
		pointer-events: auto;

		@include position(relative, auto auto auto auto);
	}

	&.visible {
		opacity: 1;
		transform: none;
		pointer-events: auto;
	}

	.no-js & {
		display: flex;
		position: relative;
	}
}
