////
/// Pricing table component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/startup-pro
////

.pricing-table {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: $base--border--radius;
	background-color: $color--gray-10;
	box-shadow: $base--box-shadow--l, $base--box-shadow;
	align-items: center;
	align-content: center;

	.hero-section & {
		color: $color--gray-80;
	}

	> div {
		width: 100%;
		margin-bottom: 0;
		margin-left: 0;
		padding: $spacing--xl $spacing--m;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		> * {
			width: 100%;
		}
	}

	.featured {
		position: relative;
		z-index: 1;
		border-radius: $base--border--radius;
		background-color: $color--white;
		box-shadow: $base--box-shadow;
		transform: scale(1.05);

		@include mq(m) {
			box-shadow: $base--box-shadow--l;
		}

		ul {

			li {

				&:before {
					background-color: $color--gray-10;
				}
			}
		}
	}

	&__name {
		margin-bottom: 0;
	}

	&__price {
		display: block;
		font-size: $font-size--h1;
	}

	&__features {
		margin: $spacing--s 0 $spacing--m;
		color: $color--gray-60;
		list-style-type: none;
	}

	@include mq(m) {

		.one-half {
			width: calc(100% / 2);
		}

		.one-third {
			width: calc(100% / 3);
		}

		.one-fourth {
			width: calc(100% / 4);
		}

		.one-fifth {
			width: calc(100% / 5);
		}

		.one-sixth {
			width: calc(100% / 6);
		}
	}

	ul {
		width: auto;
		margin: $spacing--m 0 $spacing--l;

		li {
			position: relative;
			margin-bottom: $spacing--s;
			padding-left: $spacing--l + $spacing--s;
			color: $color--gray-60;
			list-style: none;
			text-align: left;

			&:last-of-type {
				margin-bottom: 0;
			}

			&:before {
				display: inline-flex;
				position: absolute;
				left: 0;
				margin-top: $spacing--xxs;
				border-radius: $spacing--l;
				color: $color--gray-50;
				background-color: $color--white;
				box-shadow: 0 5px 10px -2px rgba($base--box-shadow--color, 0.1);
				font-size: 1rem;
				font-weight: $font-weight--bold;
				content: '✔';
				align-items: center;
				justify-content: center;

				@include size($spacing--m * $perfect-fifth)
			}
		}
	}
}
